* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

nav {
  width: 100%;
  padding: 20px 0;
  background-color: white;
  position: fixed;
  top: 0;
  z-index: 1;
  box-shadow: -1px 12px 24px 4px rgba(0, 0, 0, 0.2);
}

.nav-all-content {
  width: 90%;
  margin: 0 auto;
  display: flex;
}

.nav-all-content .logo {
  width: 30%;
}

.nav-all-content .logo a {
  color: black;
  text-decoration: none;
  font-size: 25px;
  font-weight: bold;
}

.nav-all-content .logo a .green {
  color: #1bbd36;
  text-decoration: none;
  font-size: 25px;
  font-weight: bold;
}

.nav-all-content .nav-links {
  text-align: right;
  width: 80%;
}

.nav-links ul li {
  display: inline-block;
  list-style-type: none;
  margin-bottom: 0;
}

.nav-links ul li .active-link {
  color: #1bbd36;
  text-decoration: none;
  font-weight: bold;
  font-size: 13px;
  padding: 10px 10px;
  display: block;
}

.nav-links ul li .inactive-links {
  color: black;
  text-decoration: none;
  font-weight: bold;
  font-size: 13px;
  padding: 10px 10px;
  display: block;
}

.content {
  display: inline-block;
}

.content:hover .under-content {
  display: block;
}

.under-content {
  background-color: white;
  display: none;
  position: absolute;
  border-top: 2px solid #1bbd36;
  z-index: 1;
}

.under-content a {
  display: block;
  color: black;
  text-decoration: none;
  text-align: left;
  padding: 10px 10px;
  font-size: 13px;
}

.under-content a:hover {
  color: #1bbd36;
}

.content-1 {
  display: inline-block;
}

.content-1:hover .under-content-1 {
  display: block;
}

.under-content-1 {
  width: 150px;
  background-color: white;
  display: none;
  position: absolute;
  right: -150px;
  top: 100px;
  border-top: 2px solid #1bbd36;
  z-index: 1;
}

.under-content-1 a {
  display: block;
  color: black;
  text-decoration: none;
  text-align: left;
  padding: 10px 10px;
  font-size: 13px;
}

.under-content-1 a:hover {
  color: #1bbd36;
}

.nav-links ul li .inactive-links:hover {
  color: #1bbd36;
}

.nav-links ul li .top-icons {
  color: darkgray;
  text-decoration: none;
  font-weight: bold;
  font-size: 17px;
  padding: 0px 8px;
  display: block;
}

.nav-links ul li .top-icons:hover {
  color: #1bbd36;
}

header {
  width: 100%;
  background-color: #1bbd36;
  height: 70px;
  margin-top: 75px;
  color: white;
}

.header-content {
  width: 90%;
  margin: 0 auto;
}

.s-left {
  float: left;
}

.s-left p {
  font-size: 25px;
  font-weight: lighter;
  margin-top: 20px;
}

.s-right {
  float: right;
}

.s-right ul li {
  list-style-type: none;
  display: inline-block;
  font-size: 15px;
  margin-top: 28px;
}

.s-right ul li a {
  color: white;
  text-decoration: none;
}

.details {
  width: 100%;
  padding: 30px 0 50px;
  background-color: aliceblue;
}

.details-content {
  width: 90%;
  margin: 0 auto;
  display: flex;
  gap: 30px;
}

.left-side {
  width: 65%;
}

.dot-div {
  text-align: center;
  padding: 10px;
}

.dot {
  cursor: pointer;
  height: 13px;
  color: white;
  width: 13px;
  margin: 0 2px;
  border: 1px solid #1bbd36;
  background-color: white;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.dot:hover {
  background-color: #1bbd36;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

.right-side {
  width: 35%;
}

.project-info {
  background-color: white;
  padding: 30px;
  box-shadow: 0px 0 30px rgba(17, 17, 17, 0.08);
}

.right-side h3 {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #eee;
}

.right-side ul {
  list-style: none;
  padding: 0;
  font-size: 15px;
}

.right-side ul li {
  font-size: 15px;
  line-height: 30px;
}

.right-side ul li strong {
  font-weight: bolder;
}

.right-side ul li a {
  text-decoration: none;
  color: #1bbd36;
}

.right-side ul li a:hover {
  color: #3af058;
}

.right-side h2 {
  font-size: 26px;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 20px;
}

.right-side p {
  color: #6f6e6ede;
  line-height: 25px;
}

.the-arrow {
  position: fixed;
  right: 15px;
  bottom: 15px;
  font-size: 15px;
  padding: 10px 12px;
  text-align: center;
  vertical-align: middle;
  border-radius: 5px;
  color: white;
  text-decoration: none;
  background-color: #46ac57;
}

.the-arrow:hover {
  background-color: #1bbd36;
}

.footer {
  width: 100%;
}

.footer-top {
  padding: 60px 0 30px 0;
  background: #1e1e1e;
}

.footer-top-content {
  width: 90%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 2fr;
}

.footer-top-item h3 {
  font-size: 22px;
  margin: 0 0 10px 0;
  padding: 2px 0 2px 0;
  line-height: 1;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #fff;
  font-family: "Roboto", sans-serif;
}

.footer-top-item p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
  font-family: "Roboto", sans-serif;
  color: rgba(255, 255, 255, 0.7);
}

.footer-top-item h4 {
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  padding-bottom: 12px;
  font-family: "Roboto", sans-serif;
}

.footer-top-item ul li {
  list-style-type: none;
}

.footer-top-item ul li .caret-right {
  color: #1bbd36;
  font-size: 18px;
  margin: 0 10px;
}

.footer-top-item ul li a {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  display: inline-block;
  line-height: 1;
}

.footer-top-item ul li a:hover {
  color: white;
}

.newsheltter p {
  margin-top: 0;
  margin-bottom: 1rem;
  font-size: 16px;
}

.newsheltter form {
  margin-top: 30px;
  background: #fff;
  padding-left: 5px;
  width: 80%;
  border-radius: 4px;
  text-align: left;
  float: left;
}

.newsheltter form input[type="email"] {
  width: 67.7%;
  border: none;
  padding: 4px 8px;
}

.newsheltter form input[type="submit"] {
  font-size: 16px;
  padding: 10px 20px;
  color: #fff;
  border-radius: 0 4px 4px 0;
  background: #1bbd36;
  border: 0;
}

.footer-bottom {
  width: 100%;
  padding: 20px 0;
  height: 80px;
  background-color: black;
  font-size: 14px;
}

.footer-bottom-content {
  width: 90%;
  margin: 0 auto;
}

.footer-bottom-right {
  float: left;
  color: white;
}

.footer-bottom-right p {
  padding-bottom: 12px;
}

.footer-bottom-right p a {
  color: #46ac57;
  text-decoration: none;
}

.footer-bottom-right p a:hover {
  color: #1bbd36;
}

.footer-bottom-left {
  float: right;
}

.footer-bottom-left a {
  font-size: 18px;
  color: white;
  padding: 8px;
  text-align: center;
  margin: 8px;
  border-radius: 4px;
  width: 36px;
  height: 36px;
  background: rgba(255, 255, 255, 0.08);
}

.footer-bottom-left a:hover {
  background-color: #1bbd36;
}
